html {
    background-color: lightgray;
}

header {
    position: fixed;
    width: 100%;
    z-index: 10;
}

h1 {
    color: white;
}

.main {
    padding-top: 55px;
}

.title {
    text-align: center;
}
.subtitle {
    text-align: center;
}

footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 3px;
    z-index: 11;
    background-color: lightgray;
}